{% load staticfiles i18n %}
<footer class="row">
            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
{#                <img src="{% static 'images/COT_Logo_Title.png' %}" alt="">#}
                <a href="{% url 'quiz:subject-list' %}"><img src="{% static 'images/COT_Logo_Title.png' %}" alt=""></a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
               <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p>&copy; Вінницька обласна<br>організація "Центр<br>освітніх технологій",<br>2020. Усі права<br>застережені
                       </p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p>&copy; Vinnytsia Region<br>Organisation "Center<br>of Educational<br>Technologies", 2020.<br>All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
</footer>