DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!qnx%#8n2u_i8nhe%5gv0u8vz#au366q5+aj(lo*z6&6_r-$j9@"

DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
DJANGO_DATABASE_URL=postgres:///centr_osvita
DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SERVER_EMAIL=root@localhost.com


DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_TEST_RUN=off

DJANGO_HEALTH_CHECK_BODY="Success"

DJANGO_USE_SILK=on