{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{object.name}}{% endblock %}


{% block content %}
<main>
    <div class="content">
        <div class="quiz-detail">
            <div class="quiz-detail__head">
                <h4 data-question-id="{{ question.id }}">
                    {{ question.text }}
                </h4>
<!--                Enter time here in seconds-->
                <p id="time">{{ time_left }}</p>
                <p id="timer"></p>
                 <form action="{% url 'quiz:quiz-cancel' quiz.id%}" method="post">
                     {% csrf_token %}
                    <p>
                        <input type="submit"
                               value="Зупинити тест"
                               class="btn btn-primary">
                    </p>
                 </form>
            </div>


            {% if question.image %}
                <div class="quiz-detail__image">
                    <img src="{{ question.image.url }}"
                         alt="Image"/>
                </div>
            {% endif %}

            <div class="quiz-detail__answer-list">
                {% if question.type == 0 %}
                {% for answer in question.ordered_answers_by_position.all %}
                <p data-answer-id="{{ answer.id }}">
                    {{answer.get_number_display}}. {{answer.text}}
                </p>
                {% endfor %}
                {% elif question.type == 1 %}
                {% for answer in question.ordered_answers_by_position.all %}
                <p data-answer-id="{{ answer.id }}">
                    {{answer.get_number_1_display}}. {{answer.text}}
                </p>
                {% endfor %}
                {% else %}
                <div class="tables-flex">
                    <table border="1">
                        {% for answer in question.ordered_answers_by_position.all %}
                        {% if answer.number_1 != 0 %}
                        <tr>
                            <td data-answer-id="{{ answer.id }}">
                                {{answer.get_number_1_display}}
                            </td>
                            <td>
                                {{answer.text_1}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>

                    <table border="1">
                        {% for answer in question.ordered_answers_by_position_two.all %}
                        <tr>
                            <td>
                                {{answer.get_number_2_display}}
                            </td>
                            <td>
                                {{answer.text_2}}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>

            <div class="quiz-detail__result-table">
                <form action="{% url 'quiz:test-detail' object.id%}"
                      method="post" class="quiz-detail__result-form">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {{ formset.non_form_errors }}
                    <table border="1">
                        {% if question.type == 2 %}
                        <tr>
                            <td> </td>
                            {% for answer in question.ordered_answers_by_position_two.all %}
                            <td>{{answer.get_number_2_display}}</td>
                            {% endfor %}
                        </tr>
                        {% for form in formset %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for field in form %}
                            {% for radio in field %}
                            <td class="myradio">
                                <label for="{{ radio.id_for_label }}"
                                       class="order-wrapper">
                                    {{ radio.tag }}
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        {% elif question.type == 1 %}
                        <tr>
                            <td> </td>
                            {% for answer in question.ordered_answers_by_position_two.all %}
                            <td>{{answer.get_number_2_display}}</td>
                            {% endfor %}
                        </tr>
                        {% for form in formset %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for field in form %}
                            {% for radio in field %}
                            <td class="myradio">
                                <label for="{{ radio.id_for_label }}"
                                       class="order-wrapper">
                                    {{ radio.tag }}
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        {% else %}
                        <tr>
                            {% for answer in question.ordered_answers_by_position_two.all %}
                            <td>{{answer.get_number_display}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for form in formset %}
                            {% for field in form %}
                            {% for radio in field %}
                            <td class="myradio">
                                <label for="{{ radio.id_for_label }}"
                                       class="order-wrapper">
                                    {{ radio.tag }}
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            {% endfor %}
                            {% endfor %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                    </table>

                    <input type="submit"
                           value="Надіслати"
                           class="btn btn-primary">
                </form>
            </div>


        </div>
    </div>
</main>
<!-- Modal -->
<div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Час вичерпано
            </div>
            <div class="modal-footer">
<!--                Set results link here-->
                <a href="{% url 'quiz:quiz-finish' quiz.id%}" class="btn btn-primary" id="timeout-results">Результати</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

