{% extends "base.html" %}
{% load static i18n %}

{% block title %}Список тестів{% endblock %}


{% block content %}
<main>
    <div class="container">
        <div class="quiz-detail quiz-detail--end">
            <h1>Ви пройшли тест!</h1>
            <h4>Результат: {{ instance.current_mark }}/{{ instance.max_available_mark }}</h4>
            <div>
                <p class="quiz-detail__contact-link">Для консультації звертайтеся за <a href="{% url 'common:home' %}#contacts">контактами</a>.</p>
            </div>
            <a href="{% url 'common:home' %}"
               class="btn btn-primary">
                Повернутись на головну
            </a>
        </div>
    </div>
</main>

{% endblock %}
