{% extends "base.html" %}
{% load static i18n %}

{% block title %}Центр розвитку «Аліса» - ЦОТ{% endblock %}


{% block content %}

    <div class="information">
        <h1>Студія розвитку дітей<br> та молоді майбутнього <b>«Аліса»</b></h1><h3>пропонує:</h3>
        <ul>
            <li>
                <h4>мови: англійська, німецька, польська;</h4>
            </li>
            <li>
                <h4>історія, математика (підготовка до ЗНО);</h4>
            </li>
            <li>
                <h4>підготовка до школи;</h4>
            </li>
            <li>
                <h4>художня студія;</h4>
            </li>
            <li>
                <h4>студія деокративного дизайну;</h4>
            </li>
            <li>
                <h4>студія сучасної хореографії <b>«SKY DANCE»</b>;</h4>
            </li>
            <li>
                <h4>гітара;</h4>
            </li>
            <li>
                <h4>театральна студія;</h4>
            </li>
            <li>
                <h4>риторика;</h4>
            </li>
            <li>
                <h4>психолог, тематичні тренінги;</h4>
            </li>
            <li>
                <h4>група подовженого дня;</h4>
            </li>
            <li>
                <h4>шахи, шашки.</h4>
            </li>
        </ul>
        <div class="artAddress">
            <h3>Наша адреса</h3>
            <p>вул. Ватутіна 44<br>Тел. для довідок: 096-01-08-428,<br>  096-053-81-10, 093-732-94-72</p>
        </div>
    </div>

{% endblock %}
