{% extends "base.html" %}
{% load static i18n %}

{% block title %}Контакти - ЦОТ{% endblock %}


{% block content %}

<div class="information contacts">
    <h1>НАШІ КОНТАКТИ</h1>
    <div class="row adress">
        <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
            <h3>Адреса:</h3><p>м. Вінниця<br>вул. Монастирська 3/2<br>21000</p>
        </div>
        <div class="col-md-8 col-lg-8 hideMobile">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3098.20703847479!2d28.474807844193048!3d49.23334736009507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5b70273184d9%3A0xe01c610101fdb908!2z0LLRg9C7LiDQnNC-0L3QsNGB0YLQuNGA0YHRjNC60LAsIDMsINCS0ZbQvdC90LjRhtGPLCDQktGW0L3QvdC40YbRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1suk!2sua!4v1455973887203" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
            <p>м. Вінниця<br>вул. Князів Коріатовичів 54<br>21000</p>
        </div>
        <div class="col-md-8 col-lg-8 hideMobile">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.461251250874!2d28.46902611576151!3d49.22974357932557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5b7a76450f89%3A0x339b47965136fc52!2z0YPQuy4g0JrQvdGP0LfQtdC5INCa0L7RgNC40LDRgtC-0LLQuNGH0LXQuSwgNTQsINCS0LjQvdC90LjRhtCwLCDQktC40L3QvdC40YbQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDIxMDAw!5e0!3m2!1sru!2sua!4v1590532231403!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen></iframe>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
            <h3>Телефони:</h3>
            <p>тел. (0432) 67-22-38<br>моб.:  (098) 207-27-28<br>(093) 814-40-42</p>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
            <h3>E-mail:</h3>
            <p>cotvinnytsia@gmail.com</p>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
            <h3>Ми у соціальних мережах:</h3>
            <a href="https://vk.com/tsot_zno"><i class="fa fa-vk fa-4x"></i></a>
            <a href="https://www.facebook.com/groups/1626704494284751/?fref=ts"><i class="fa fa-facebook-official fa-4x"></i></a>
        </div>
    </div>
</div>

{% endblock %}
