{% extends "base.html" %}
{% load static i18n %}

{% block title %}Студія  «Чудесна мить» - ЦОТ{% endblock %}


{% block content %}

    <div class="information">
            <h1>Студія  <b>«Чудесна мить»</b></h1> <h3>запрошує всіх охочих віком<br>від 3 до 20 років відвідувати такі секції:</h3>
            <div class="row table">
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>5-20 років</p>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>Арт - студія</p>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <p>- регулярні групові майстер – класи з усіх видів сучасного рукоділля та декору;<br>+ разові майстер - класи для дорослих</p>
                </div>
            </div>
            <div class="row table">
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>9- 20 років</p>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>Художня студія</p>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <p>- основи академічного рисунка та живопис;</p>
                </div>
            </div>
            <div class="row table">
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>4- 8 років</p>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>Художня студія + ліпка</p>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <p>- основи академічного рисунка та живопис + ліпка ;</p>
                </div>
            </div>
            <div class="row table">
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>5-9 років</p>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>Англійська мова</p>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <p>- для дошкільнят та дітей молодшого шкільного віку;</p>
                </div>
            </div>
            <div class="row table">
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>3-6 років</p>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>Ейдетика</p>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <p>- система  розвитку пам’яті та образного мислення;</p>
                </div>
            </div>
            <div class="row table">
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>7-20 років</p>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>Студія вишивки</p>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <p>- шовковими стрічками, креативне гаптування з елементами розпису та декупажу;</p>
                </div>
            </div>
            <div class="row table">
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <p>7-20 років</p>
                </div>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    <p>Студія  м’якої іграшки та інтер’єрної ляльки.</p>
                </div>
            </div>
            <div class="art row">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    <img src="{% static 'images/art_studio.png' %}" alt="">
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                    <p><b>5-20 років Арт – студія</b> - регулярні групові майстер – класи для дітей та підлітків, а також, одноразові майстер - класи для дорослих.<br>На  майстер – класах ми вивчаємо всі види сучасного рукоділля та декору, створюючи неповторні декоративні елементи інтер’єру. Широкий спектр використовуваних матеріалів розкриває нові можливості у творчості, але не обтяжує батьків витрачати час на їх придбання (ми забезпечуємо учасників студії усіма матеріалами).<br>Ви не уявляєте, яку красу можуть творити ваші діти!<br> Завітайте до нас та детальніше ознайомтесь з роботою студії.</p>
                </div>
            </div>
            <div class="art row">
                <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                    <p><b>9- 20 років Художня студія</b> - основи академічного рисунка та живопис.<br>Кожна людина талановита, головне підтримати розвиток цього таланту.  Заняття малюванням розвивають потенціал та можливості дитини. Наші заняття включають основи традиційного образотворчого мистецтва  (класичний малюнок та основи побудування, пейзаж, портрет, натюрморт, основи композиції, кольорова гармонія), а також сучасний дизайн.<br>Заняття проводить художник – дизайнер у групках до 6 учасників.</p>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    <img src="{% static 'images/paint.png' %}" alt="">
                </div>
            </div>
            <div class="art row">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    <img src="{% static 'images/english.png' %}" alt="">
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                    <p><b>5-9 років Англійська мова</b> - курси для дошкільнят та дітей молодшого шкільного віку.<br>Щоб оволодіти мовою, потрібно мати бажання її вивчати. За допомогою сучасних методик та творчого підходу до їх викладання кваліфікований фахівець допоможе Вашим дітям не боятись, а любити та впевнено відчувати себе на уроках  англійської мови.<br><b>Важливо!</b> Кількість дітей у групах -  3-5 осіб, що забезпечує можливість індивідуального підходу та значно поліпшує якість освіти.</p>
                </div>
            </div>
            <div class="art row">
                <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                    <p><b>3-6 років Ейдетика</b> - система розвитку пам’яті та образного мислення.<br>На заняттях діти , за допомогою великої кількості методів та прийомів ейдотехніки легко запам’ятовувати та відтворювати текстову (вірші, оповідання, перекази, географічні назви) та цифрову інформацію. Заняття проходять в ігровій формі з використанням цікавого методичного матеріалу.<br>На уроках діти отримують багато корисної інформації, але <b>головним завданням ейдетики є ФОРМУВАННЯ У ДІТЕЙ НАВИЧОК ДО САМОНАВЧАННЯ</b>. Ті прийоми  і методи, які діти вивчають на курсі, вони будуть використовувати у школі, що значно полегшить їхнє навчання.<br>Заняття проводить кваліфікований фахівець з вищою педагогічною освітою (філолог і дитячий психолог) та  інструктор школи ейдотехніки.</p>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    <img src="{% static 'images/eydetyka.png' %}" alt="">
                </div>
            </div>
            <div class="artAddress">
                <h3>Наша адреса</h3>
                <p>Р-н Вишенька, вул.Андрія Первозванного, 4-А<br>Тел. для довідок: 067-368-45-11,  063-746-17-23</p>
                <h4>Переглянути роботи можна у нашій групі: <a href="https://vk.com/chudesnamut"><i class="fa fa-vk fa-3x"></i></a></h4>
            </div>
    </div>

{% endblock %}
