{% extends "base.html" %} {% load static i18n %} {% block title %}Наші викладачі
- ЦОТ{% endblock %} {% block content %}
<main>
  <section class="teacher-section">
    <div class="content">
      <div class="teacher">
        <div class="teacher__info">
          <h2>Ткачук Тарас Павлович</h2>
          <p>
            Кандидат філологічних наук, викладач Вінницької академії
            неперервної освіти, учитель-методист. Працював учителем у
            приватній школі, викладачем на підготовчих курсах Київського
            міжнародного університету, методистом Вінницького обласного інституту
            післядипломної освіти педагогічних працівників, викладачем Вінницького
            державного педагогічного університету ім. М.М.Коцюбинського.
          </p>
          <p>
            Автор більше 15 посібників для школи, співавтор
            підручника з української мови для 5 класу.
          </p>
          <div class="teacher__buttons">
            <a href="https://www.youtube.com/channel/UCRA5qh_Ux4MGpt_olt9cKmg" target="_blank" class="button-youtube">Youtube</a>
            <a href="https://www.youtube.com/playlist?list=PLTgbOyghKYN3UBwElwV-nmxxUIzquuvB9" target="_blank" class="button-dictant">Диктанти</a>
          </div>
        </div>
        <div class="teacher__photo">
          <img
            src="{% static 'images/teachers/tkachuk_taras.jpg' %}"
            alt="Ткачук Тарас Павлович"
          />
          <div class="teacher__photo-bg"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="teacher-section teacher-section--bg">
    <div class="content">
      <div class="teacher">
        <div class="teacher__info">
          <h2>Клочко Ігор Якович</h2>
          <p>
            Учитель-методист. Переможець ІІ (обласного) етапу Всеукраїнського
            конкурсу «Учитель року», фіналіст ІІІ етапу зазначеного конкурсу.
            Лектор Вінницької академії неперервної освіти.
          </p>
          <p>
            Постійний член журі ІІІ (обласного) етапу Всеукраїнської олімпіади з
            математики. Працював методистом з навчальних дисциплін Вінницького
            міського методичного кабінету. Працював учителем математики
            Вінницького технічного ліцею.
          </p>
          <p>
            Автор більше 20 методичних розробок з математики для середньої і
            старшої школи.
          </p>
          <div class="teacher__buttons">
            <a href="https://www.youtube.com/channel/UC_Iu1vJNk6wKICd0bXKYUhA" target="_blank" class="button-youtube">Youtube</a>
          </div>
        </div>
        <div class="teacher__photo">
         <div class="teacher__photo-wrapper">
           <img
                   src="{% static 'images/teachers/klochko.jpg' %}"
                   alt="Клочко Ігор Якович"
           />
         </div>
          <div class="teacher__photo-bg"></div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="teacher-section">
    <div class="content">
      <div class="teacher">
        <div class="teacher__info">
          <h2>Савельєв Олександр Миколайович</h2>
          <p>
            Учитель історії зі стажем понад 25 років. П’ятикратний переможець
            обласних змагань з ігор «Що? Де? Коли?» та «Брейн-рингу».м
            Співробітник лабораторії інформаційних технологій ФМГ№17. Керівник
            міжнародних історико-культурних проектів.
          </p>
          <p>
            Лектор Вінницької академії неперервної освіти. Автор підручників для
            школи та методичних розробок (більше 70) для вивчення всесвітньої
            історії та історії України.
          </p>
          <div class="teacher__buttons">
            <a href="https://www.youtube.com/channel/UCg-wFqu177SAophVPP3GH_w" target="_blank" class="button-youtube">Youtube</a>
          </div>
        </div>
        <div class="teacher__photo">
          <img
            src="{% static 'images/teachers/saveliev.jpg' %}"
            alt="Савельєв Олександр Миколайович"
          />
          <div class="teacher__photo-bg"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="teacher-section teacher-section--bg">
    <div class="content">
      <div class="teacher">
        <div class="teacher__info">
          <h2>Кошевець Анатолій Валерійович</h2>
          <p>
            Викладач англійської мови. Працював у Вінницькому державному
            педагогічному університеті імені М.М.Коцюбинського, закінчив London
            Study Center (Велика Британія).
          </p>
          <p>
            Веде заняття з англійської мови у недільній школі.
          </p>
        </div>
        <div class="teacher__photo">
          <img
            src="{% static 'images/teachers/koshevets.jpg' %}"
            alt="Кошевець Анатолій Валерійович"
          />
          <div class="teacher__photo-bg"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="teacher-section">
    <div class="content">
      <div class="teacher">
        <div class="teacher__info">
          <h2>Мариянчук Анатолій Іванович</h2>
          <p>
            Учитель фізики зі стажем роботи понад 25 років, спеціаліст вищої
            категорії. Його учні були призерами міських та обласних олімпіад.
          </p>
        </div>
        <div class="teacher__photo">
          <img
            src="{% static 'images/teachers/marianchuk.jpg' %}"
            alt="Мариянчук Анатолій Іванович"
          />
          <div class="teacher__photo-bg"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="teacher-section teacher-section--bg">
    <div class="content">
      <div class="teacher">
        <div class="teacher__info">
          <h2>Ткачук Олександр Іванович</h2>
          <p>
            Учитель біології.  Відмінник освіти України.
          </p>
          <p>
            Має 35 років педагогічного стажу. Його учні були призерами районних
            і обласних олімпіад. Близько 20 учнів продовжили його справу і здобули
            професію вчителя біології. Два колишні учні стали кандидатами біологічних наук.
          </p>
          <p>
            Автор навчальних посібників з біології.
          </p>
        </div>
        <div class="teacher__photo">
          <img
            src="{% static 'images/teachers/tkachuk_olexander.jpg' %}"
            alt="Ткачук Олександр Іванович"
          />
          <div class="teacher__photo-bg"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="teacher-section">
    <div class="content">
      <div class="teacher">
        <div class="teacher__info">
          <h2>Добровольська Наталія Вікторівна</h2>
          <p>
            Учитель математики. Кандидат педагогічних наук. Має більше
            20 років педагогічного стажу. З 2017 року працює на посаді
            доцента кафедри економічної кібернетики та інформаційних систем
          </p>
        </div>
        <div class="teacher__photo">
          <img
            src="{% static 'images/teachers/dobrovolska.jpg' %}"
            alt="Добровольська Наталія Вікторівна"
          />
          <div class="teacher__photo-bg"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="teacher-section teacher-section--bg">
    <div class="content">
      <div class="teacher">
        <div class="teacher__info">
          <h2>Рум'янцева Катерина Євгенівна</h2>
          <p>
            Кандидат педагогічних наук, доцент Вінницького навчально-наукового
            інституту економіки Тернопільського національного економічного
            університету. Стаж роботи 24 роки.
          </p>
          <p>
            Автор понад 80 наукових і навчально-методичних праць. Серед них один
            навчальний посібник з вищої математики, три монографії, 22 праці
            навчально-методичного характеру та ін.
          </p>
          <p>
            Автор навчальних посібників з біології.
          </p>
        </div>
        <div class="teacher__photo">
          <div class="teacher__photo-bg"></div>
          <img
            src="{% static 'images/teachers/rumianceva.jpg' %}"
            alt="Рум'янцева Катерина Євгенівна"
          />

        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}