{% extends "base.html" %} {% load static i18n %} {% block title %}Фізика
- ЦОТ{% endblock %} {% block content %}
<main>
  <section class="subject-section physics-section">
    <div class="content">
      <div class="subject-page">
        <h1>Фізика</h1>
        <div class="subject__body">
          <div class="subject__info">
            <div class="subject__points">
              <div class="subject__point">
                <img
                        src="{% static 'images/icons/book.png' %}"
                        alt="Програма"
                />
                <p>
                  Програма тренінгу охоплює зміст шкільного курсу фізики 7-11 класів
                </p>
              </div>
              <div class="subject__point">
                <img
                        src="{% static 'images/icons/clock.png' %}"
                        alt="Тривалість"
                />
                <p>Заняття триває 1,5 години</p>
              </div>
              <div class="subject__point">
                <img
                        src="{% static 'images/icons/calendar.png' %}"
                        alt="Тривалість"
                />
                <p>Два заняття на тиждень</p>
              </div>
            </div>
            {% if user.is_authenticated %}
              <a href="/quiz/list?subject=physics" class="button">Пройти вхідний тест</a>
            {% endif %}
          </div>
          <div class="subject__teacher">
            <div class="teacher-card">
              <div class="teacher-card__info">
                <span>Викладач</span>
                <h4>Мариянчук Анатолій Іванович</h4>
                <a href="#" class="button button--stat">Статистика попередніх років</a>
              </div>
              <div class="teacher-card__photo">
                <img
                        src="{% static 'images/teachers/marianchuk.jpg' %}"
                        alt="Мариянчук Анатолій Іванович"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
