{% extends "base.html" %}
{% load static i18n %}

{% block title %}Реєстрація{% endblock %}


{% block content %}

    <form action="{% url 'users:register' %}" 
          method="post" 
          class="auth-form">
        {% csrf_token %}

        <h1>Реєстрація</h1>

        {{ user_form.non_field_errors }}
        {{ profile_form.non_field_errors }}

        <div class="form-group row">
            <label class="col-sm-4 col-form-label" 
                   for="{{ user_form.phone.id_for_label }}">
                Телефон(у форматі +380XXXXXXXXX)
            </label>
            <div class="col-sm-8">
                {{ user_form.phone }}
            </div>
            <div class="invalid-feedback">
                {{ user_form.phone.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" 
                   for="{{ profile_form.full_name.id_for_label }}">
                Прізвище та ім'я
            </label>
            <div class="col-sm-8">
                {{ profile_form.full_name }}
            </div>
            <div class="invalid-feedback">
                {{ profile_form.full_name.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" 
                   for="{{ profile_form.mother_full_name.id_for_label }}">
                Мама: ім'я та по батькові
            </label>
            <div class="col-sm-8">
                {{ profile_form.mother_full_name }}
            </div>
            <div class="invalid-feedback">
                {{ profile_form.mother_full_name.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" 
                   for="{{ profile_form.mother_phone.id_for_label }}">
                Телефон мами(у форматі +380XXXXXXXXX)
            </label>
            <div class="col-sm-8">
                {{ profile_form.mother_phone }}
            </div>
            <div class="invalid-feedback">
                {{ profile_form.mother_phone.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" 
                   for="{{ profile_form.father_full_name.id_for_label }}">
                Тато: ім'я та по батькові
            </label>
            <div class="col-sm-8">
                {{ profile_form.father_full_name }}
            </div>
            <div class="invalid-feedback">
                {{ profile_form.father_full_name.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" 
                   for="{{ profile_form.father_phone.id_for_label }}">
                Телефон тата(у форматі +380XXXXXXXXX)
            </label>
            <div class="col-sm-8">
                {{ profile_form.father_phone }}
            </div>
            <div class="invalid-feedback">
                {{ profile_form.father_phone.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" 
                   for="{{ profile_form.school_name.id_for_label }}">
                Школа
            </label>
            <div class="col-sm-8">
                {{ profile_form.school_name }}
            </div>
            <div class="invalid-feedback">
                {{ profile_form.school_name.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" 
                   for="{{ user_form.password.id_for_label }}">
                Пароль
            </label>
            <div class="col-sm-8">
                {{ user_form.password }}
            </div>
            <div class="invalid-feedback">
                {{ user_form.password.errors }}
            </div>
        </div>


        <input type="submit" 
               value="Реєстрація"
               class="btn btn-primary btn-lg">
        
        <a href="{% url 'users:login' %}"
           class="btn btn-outline-primary">
            Вхід
        </a>
    </form>


{% endblock %}
