{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}centr_osvita{% endblock title %}</title>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta
                name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <link rel="shortcut icon" href="{% static 'images/COT_Logo_Title.png' %}" type="image/png">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        {% block css %}
<!--            <link href="{% static 'css/project.css' %}" rel="stylesheet">-->
            <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<!--            <link rel="stylesheet" media="(min-width: @screen-md-min)" href="{% static 'css/project.css' %}" />-->
            <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
            <link href="{% static 'css/style.css' %}" rel="stylesheet">

        {% endblock %}
    </head>
    <body>
    <div class="main">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% include "includes/header.html" %}
        {% block content %}
        {% endblock content %}
        {% include "includes/footer.html" %}
    </div>

    {% block modal %}{% endblock modal %}

    {% block javascript %}
        <script src="{% static 'js/jquery-2.2.0.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/project.js' %}"></script>
        <script type="text/javascript">
          WebFontConfig = {
            google: { families: [ 'Roboto+Slab::cyrillic' ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = "{% static 'js/webfont.js'%}";
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })();
        </script>
    {% endblock javascript %}

    </body>
</html>
