.quiz-list {
  padding-top: 80px;

  &__search {
    margin: 40px 0 10px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 10px;
    }
  }
}

.quiz-detail {
  padding: 80px 0;
  text-align: center;

  h1 {
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 40px;
  }

  &__head {
    position: relative;

    #timer {
      position: absolute;
      top: -20px;
      right: 0;
    }

    #time {
      display: none;
    }
  }

  &__image {
    max-height: 400px;

    img {
      max-width: 100%;
    }
  }

  &__answer-list {
    .tables-flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 30px 0;
    }

    .tables-flex table {
      margin: 0 30px 30px 0;
    }
  }

  &__result-table {
    td {
      width: 30px;
      height: 30px;
      text-align: center;
      position: relative;
    }

    .myradio input {
      display: none;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 29px;
      width: 29px;
      background-color: #eee;
      cursor: pointer;
    }

    .order-wrapper:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .order-wrapper input:checked ~ .checkmark {
      background-color: #2196f3;
    }

    .checkmark:after {
      content: "\2713";
      position: absolute;
      display: none;
      color: #fff;
      font-size: 20px;
      left: 6px;
      top: 3px;
    }

    .order-wrapper input:checked ~ .checkmark:after {
      display: block;
    }

    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &__result-form {
    table {
      margin: 0 auto 30px auto;
    }
  }
}

//
//.subject-detail {
//  margin: 50px auto;
//  width: 500px;
//}
//
//.subject-detail-answer-list {
//  text-align: left;
//  font-size: 16px;
//}
//
//.subject-detail img {
//  max-width: 300px;
//  max-height: 300px;
//  margin: 30px 0;
//}
//
//.subject-detail td {
//  width: 30px;
//  height: 30px;
//  text-align: center;
//  position: relative;
//}
