.quiz-list {
  padding-top: 80px;

  &__search {
    margin: 40px 0 10px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 30px;

    a {
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 500;

      &:hover {
        text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
        text-decoration: none;
      }
    }
  }
}

.quiz-detail {
  padding: 80px 0;

  h1 {
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 10px;
  }

  &__head {
    position: relative;

    #timer {
      position: absolute;
      top: -65px;
      right: 0;
    }

    #time {
      display: none;
    }
  }

  &__stop-btn {
    position: absolute;
    top: -45px;
    right: 0;
  }

  &__image {
    max-width: 600px;

    img {
      width: 100%;
    }
  }

  &__answer-list {
    margin: 50px 0;
    text-align: left;

    .tables-flex {
      display: flex;
      flex-wrap: wrap;
      margin: 30px 0;
    }

    .tables-flex table {
      margin: 0 30px 30px 0;

      tr {
        td:nth-child(1) {
          padding-right: 5px;
        }
      }
    }
  }

  &__result-table {
    td {
      width: 30px;
      height: 30px;
      text-align: center;
      position: relative;
    }

    .myradio input {
      display: none;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 29px;
      width: 29px;
      background-color: #eee;
      cursor: pointer;
    }

    .order-wrapper:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .order-wrapper input:checked ~ .checkmark {
      background-color: #2196f3;
    }

    .checkmark:after {
      content: "\2713";
      position: absolute;
      display: none;
      color: #fff;
      font-size: 20px;
      left: 6px;
      top: 3px;
    }

    .order-wrapper input:checked ~ .checkmark:after {
      display: block;
    }

    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }

    .errorlist {
      margin: 15px 0;
    }
  }

  &__result-form {
    table {
      margin: 0 0 30px 0;
    }
  }

  &__contact-link {
    background-color: $color-white;
    font-weight: 600;
    padding: 20px;
    background: darken($color-white, 10);
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 40px!important;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(112,112,112,0.49);
    -moz-box-shadow: 5px 5px 10px 2px rgba(112,112,112,0.49);
    box-shadow: 5px 5px 10px 2px rgba(112,112,112,0.49);
  }

  &__question {
    font-weight: normal;
    font-size: 23px;
    font-style: italic;
  }

  &--end {
    text-align: center;
  }
}